html,body,.container {
	height:100%;
    color: white;
}
header {
    /*background: none repeat scroll 0 0 #191970;*/
    background: darkgreen;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    text-align: center;
}
header > .logo-glyph {
    /*background: url('../img/talkngolf-icon-36x36.png') repeat scroll 0 0 / cover white;*/
    /*background: red;*/
    width: 45px !important;
    height: 45px !important;
    padding: 0 0 0 0 !important;
    margin: 0px !important;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 150%;
    color: white;
}
header > .go-back {
    /*background: red;*/
    width: 45px !important;
    height: 45px !important;
    padding: 0 0 0 0 !important;
    margin: 0px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 150%;
    color: white;
}
.subhead  {
	background: #CCC;
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
	color: black;
	font-weight: bold;
}
.menu {
	width: 49%;
	display: inline-block;
}
.container {
    display:table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container.loading {
	margin-bottom: -60px;
    padding: 0 0 60px; 
}
.container.main {
    margin-top: -85px;
    padding: 85px 0 0; 
}
.row {
    display: table-row;
}
.cell {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.row.row-one {
	height: 100%;
}
.row.row-two {
	height: 50%;
}
.row.row-three {
	height: 33.33%;
}
.row.row-four {
	height: 25%;
}
.row.row-five {
	height: 20%;
}
.container .cell {
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   font-size: 1.2em;
   font-weight: bold;
   color: #777;
}

.row:last-child .cell {
	border-bottom: none;
}
.row .cell:last-child {
	border-right: none;
}
.container.main .row {
    font-size: 1.2em;
    font-weight: bold;
    color: #777;
}
.container.main  .row.row-two .cell {

}
.container.main  .row.row-four .cell {
}

footer {
	padding: 20px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}

footer .progress {
	margin-bottom: 0px;
}

.logo {
	max-width: 100%;
	max-height: 50%;
}

.button {
	width: 100%;
	height: 100%;
}
.button:hover {
	background: #ccc;
}

.col-md-12
{
    display: table-cell;
    float: none; 
}

