html, body, .container {
    height: 100%;
    color: white;
}

header {
    /*background: none repeat scroll 0 0 #191970;*/
    background: midnightblue;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    text-align: center;
    border-bottom: solid thick white;
}

header > .logo-glyph {
    /*background: url('../img/talkngolf-icon-36x36.png') repeat scroll 0 0 / cover white;*/
    /*background: red;*/
    width: 45px !important;
    height: 45px !important;
    padding: 0 0 0 0 !important;
    margin: 0px !important;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 150%;
    color: white;
}

header > .go-back {
    /*background: red;*/
    width: 45px !important;
    height: 45px !important;
    padding: 0 0 0 0 !important;
    margin: 0px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 150%;
    color: white;
}

.subhead {
    background: #EEE;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-bottom: solid thick white;
}

.menu {
    width: 49%;
    display: inline-block;
}

.container {
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container.main {
    margin-top: -85px;
    padding: 85px 0 0;
}

.container.main .row {
    display: table-row;
    padding: 0 0 0 0 !important;
    margin: 0px !important;
    font-size: 1.2em;
    font-weight: bold;
    color: #777;

    background-color: #f4f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

/*.row-two:active, .cell:active {*/
    /*border:1px solid #bfc4c4;*/
    /*background-color: #d9dddd;*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));*/
    /*background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);*/
    /*background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);*/
    /*background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);*/
    /*background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);*/
    /*background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);*/
/*}*/

.container.main .row.row-one {
    height: 100%;
}

.container.main .row.row-two {
    height: 50%;
}

.container.main .row.row-three {
    height: 33.33%;
}

.container.main .row.row-four {
    height: 25%;
}

.container.main .row.row-five {
    height: 20%;
}

.container.main .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
    color: #777;
}

.row:last-child .cell {
    border-bottom: none;
}

.row .cell:last-child {
    border-right: none;
}


footer {
    padding: 20px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}

footer .progress {
    margin-bottom: 0px;
}

.logo {
    max-width: 100%;
    max-height: 50%;
}

.button {
    width: 100%;
    height: 100%;
}

.button:hover {
    background: #ccc;
}

.col-md-12 {
    display: table-cell;
    float: none;
}

/*Organize*/
.title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.title .alt-color {
    color: #CCC;
}

.subhead {
    color: #555;
}

.sub-heading {
    font-size: 1.2em !important;
    letter-spacing: 0.1em;
    line-height: 0.5em;
    color: midnightblue;
}

.mood-thumbs {
    color: midnightblue;
    font-size: 3em;
}

.go-back {
    font-size: 75%;
    color: #777;
}

/*Modal Support*/
.modal {
    color: black;
}
.modal-content {
    border: solid 2px green;
}
.modal-header, .modal-body, .modal-footer {
    border: none;
}